@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Studio Glow<br />
    Sabino #540, Col. Bosque Real<br />
    <abbr title="Teléfono">P:</abbr>
    8125349785
</address>

<address>
    <strong>Correo:</strong>   <a href="mailto:Support@example.com">Studiog@gmail.com</a><br />
</address>