@{
    ViewBag.Title = "Home Page";
}

<h1 style="text-align:center; margin-top:100px;">BIENVENIDO</h1>
<h2 style="text-align:center;">Conoce nuestros servicios y paquetes de</h2>
<div style="align-items;">
    <div style="float:left; width:200px; height:200px;  justify-content:center; align-items:center; margin-top:30px; margin-right:40px; margin-left:40px;">
        <img src="~/Imagenes/ser_hair.png" style="height:100px; width:100px; margin-bottom:10px;" />
        <p style="text-align:center;">Peinado, tinte y corte de cabello</p>
    </div>

    <div style="float:left; width:200px; height:200px;  justify-content:center; align-items:center; margin-top:30px; margin-right:40px;">
    <img src="~/Imagenes/ser_mu.png" style="height:100px; width:100px; margin-bottom:10px;" />
    <p style="text-align:center;">Maquillaje</p>
    </div>

    <div style="float:left; width:200px; height:200px;  justify-content:center; align-items:center; margin-top:30px; margin-right:40px;">
        <img src="~/Imagenes/ser_lashes.png" style="height:100px; width:100px; margin-bottom:10px;" />
        <p style="text-align:center;">Pestañas semipermanentes</p>
    </div>
    
    <div style="float:left; width:200px; height:200px;  justify-content:center; align-items:center; margin-top:30px; margin-right:40px;">
        <img src="~/Imagenes/ser_nails.png" style="height:100px; width:100px; margin-bottom:10px;" />
        <p style="text-align:center;">Uñas</p>
    </div>
</div>
<br /><br /><br /><br /><br />
<p style="text-align:center;">
    En Studio Glow disponemos de las más novedosas técnicas que existen en el mercado asesorándote para encontrar
    TU IMAGEN. Aconsejamos en cortes, peinados, colores, etc, procurando resolver  todas las dudas que nos puedas plantear.
</p>
<hr />
<h2 style="text-align:center;">Agenda tu cita</h2>
<img src="~/Imagenes/agenda.png" style="display:block; width:200px; height:200px;"/>
<p style="text-align:center;">Ahora puedes agendar tu cita desde esta pagina. Haz click para agendar tu cita.</p>

